body{

font-family: Arial;
background:#111;
color:white;
text-align:center;

}

h1{

color:#00ff9c;

}

h2{

margin-top:40px;

}

ul{

list-style:none;

}

li{

margin:10px;

}

a{

color:#00ff9c;
text-decoration:none;

}